<%- model_class = Video -%>

<div class="col-md-8 offset-md-2 jumbotron">
  <h1 class="text-center"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>

  <%= render :partial => 'form' %>
</div>
