body {
  background-color: #FFFFFF;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.jumbotron{
  background-color: #e6e6e6 !important;
}

.jumbotron {
  background-color: #FFF;
  margin-top: 30px;
}

.table td, .table th{
  text-align: center;
  vertical-align: middle;
}

.adm-menu{
  margin-top: 30px;
}

.text-admin{
  color: #4CC2E4 !important;
}

.btn-blue{
  color: #000000;
  background-color: #4CC2E4;
  border-color: #338298;
}

.btn-blue:hover{
  color: #ffffff;
  background-color: #2c7185;
  border-color: #235a6a;
}

h1, h2, h3, h4, h5{
  color: #B58733;
}

.div-detail{
  margin-top: 30px;
}
